<!doctype html>
<html lang="en">
  <head>
    <title>Link Shortener</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="">
    <header class="mb-8 text-gray-600 border-b body-font">
      <div
        class="container flex flex-col flex-wrap items-center py-5 px-10 mx-auto md:flex-row"
      >
        <a
          href="{% url 'home' %}"
          class="flex items-center mb-4 font-medium text-gray-900 md:mb-0 title-font"
        >
          <span class="ml-3 text-xl">Link.ly</span>
        </a>
        <nav
          class="flex flex-wrap items-center text-base md:py-1 md:pl-4 md:mr-auto md:ml-4 md:border-gray-400 md:border-1"
        >
          <a href="{% url 'home' %}" class="mr-5 hover:text-gray-900"
            >All Links</a
          >
        </nav>
        <button
          class="inline-flex items-center py-2 px-5 bg-blue-100 rounded border-0 hover:bg-blue-200 focus:outline-none"
        >
          <a
            href="{% url 'add-link' %}"
            class="flex justify-center items-center"
          >
            Add Link
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H7a1 1 0 110-2h3V6a1 1 0 011-1z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </button>
      </div>
    </header>
    <div>{% block content %} {% endblock content %}</div>
  </body>
</html>
